body {
    padding: 0%;
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar {
    color: #CECECE;
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
}

.navbar-link {
    color: #CECECE;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 7.5px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #FFFFFF;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    width: 1.4vw;
}

.unicef {
    font-size: 12;
    background-color: #fbfbfd;
    height: 70px;
    padding: 0px;
    text-align: center;
    color: #06c;
    justify-content: center;
    text-decoration: none;


}

.logo-unicef {
    width: 10%;
    flex-direction: row;
    align-items: center;
}

.fondo-m {
    align-items: flex-end;
    background-image: url("./macbook-jpeg.jpeg");
    width: 1200px;
    height: 670px;
    background-repeat: no-repeat;
    float: right;
}

.titulo-m {

    font-size: 50px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #424245;
    height: 290px;
    align-items: center;
    clear: right;
}

.logo-m {
    height: 290px;
    align-items: center;
}


.links {

    margin-right: 20px;
    margin-left: 20px;
    font-size: 21px;
    line-height: 1.381;



}

.link-m {
    text-decoration: none;
    color: #06c;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.link-13 {
    background-position: center;
    text-align: center;
    text-decoration: none;
    color: #06c;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
#Iphone13 {
    background: url(./hero_iphone13_avail__gnqqkzuai6um_largetall.jpeg) rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vh;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: x-large;
    padding-left: 1vw;
    padding-top: 6vh;
    margin: 1.5vh;
    align-items: center;
    text-align: center;

}



.iphone-13 h1 {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 50px;
    line-height: 90%;
    font-weight: 600;
    letter-spacing: .002em;
}

.iphone-13 h3 {
    text-align: center;
    font-size: 30px;
    line-height: 90%;
    font-weight: 500;
    letter-spacing: .002em;

}

.fondo-gift {
    background: url(./gitCar\ mackbook.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: x-large;
    padding-left: 1vw;
    padding-top: 6vh;
    margin: 1.5vh;
    align-items: center;
    text-align: center;

}
.fondo-gift h1 {
    line-height: 90%;
    font-size: 50px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    display: inline;

}
.fondo-gift h3 {
    line-height: 90%;
    color: #030001;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 20px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
}
.link-card {
    line-height: 90%;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #06c;
}

.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: unset;
    margin: none;
}

.smallboxes {
    float: left;
    height: 624px;
    flex-grow: 1;
    margin: 15px 15px;
    min-width: 350px;
    flex-basis: 0%;
}

.caja-iphone {
    float: left;
    background-image: url(./frenteIphone.jpeg);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #fbfbfd;
}

.smallboxesc.caja-iphone p {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 56px;
    font-style: normal;
}

.smallboxes.caja-iphone h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    font-style: normal;
}

.caja-macbook {
    text-align: center;
    color: #fbfbfd;
    float: left;
    background-color: #000000;
    background-image: url(./a1\ macbook.jpeg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.caja-macbook p {
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.link-caja {
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #06c;
}




.contenedor2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: unset;
    margin: none;
}

.smallboxes {
    float: left;
    height: 624px;
    flex-grow: 1;
    margin: 15px 15px;
    min-width: 350px;
    flex-basis: 0%;
}

.caja-reloj {
    float: left;
    background-repeat: no-repeat;
    background-image: url(./reloj1.jpeg);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #fbfbfd;
}


.contenedor2 p {
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.caja-ipad {
    text-align: center;
    color: #fbfbfd;
    float: left;
    background-color: #000000;
    background-repeat: no-repeat;
    background-image: url(./ipadd.jpeg);
    background-size: cover;
    background-position: center;
}

.link-caja {
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #06c;
}


.contenedor3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: unset;
    margin: none;
}

.smallboxes {
    float: left;
    height: 624px;
    flex-grow: 1;
    margin: 15px 15px;
    min-width: 350px;
    flex-basis: 0%;
}

.caja-tarjeta {
    float: left;
    background-repeat: no-repeat;
    background-image: url(./tarjeta\ completa.jpeg);
    text-align: center;
    background-size: 60%;
    background-position: center;
    background-color: #fbfbfd;
}

.contenedor3 p {
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.contenedor h1 {
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    font-style: normal;
}

.caja-airpods {
    text-align: center;
    color: #fbfbfd;
    float: left;
    background-color: #000000;
    background-repeat: no-repeat;
    background-image: url(./AirpodsFONDO.jpg);
    background-size: 60%;
    background-position: center;
}

.link-caja {
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #06c;
}