body {
    padding: 0%;
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar {
    color: #CECECE;
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
}

.navbar-link {
    color: #CECECE;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 7.5px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #FFFFFF;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    width: 1.4vw;
}

.unicef {
    font-size: 12;
    background-color: #fbfbfd;
    height: 70px;
    padding: 0px;
    text-align: center;
    color: #06c;
    justify-content: center;
    text-decoration: none;


}

.logo-unicef {
    width: 10%;
    flex-direction: row;
    align-items: center;
}

.fondo-m {
    align-items: flex-end;
    background-image: url("./macbook-jpeg.jpeg");
    width: 1200px;
    height: 670px;
    background-repeat: no-repeat;
    float: right;
}

.titulo-m {
    
    font-size: 50px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #424245;
    height: 290px;
    align-items: center;
    clear: right;
}

.logo-m {
    height: 290px;
    align-items: center;
}


.links {

    margin-right: 20px;
    margin-left: 20px;
    font-size: 21px;
    line-height: 1.381;



}

.link-m {
    text-decoration: none;
    color: #06c;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.link-13 {
    text-decoration: none;
    color: #06c;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.fondo-13 {
    background-position: center;
    height: 670px;
    background-repeat: no-repeat;
    float: right;
}

.iphone13 h2 {
    text-align: center;
    background-position: center;
    font-size: 56px;

}

.iphone13 h3 {
    text-align: center;
    background-position: center;
    font-size: 28px;
}



.gift-card{
    float: right;
    text-align: center;
    background-position: center;
}
.fondo-gift{
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    padding-top: 47px;
    height: 580px;
    background-repeat: no-repeat;
    
}
.gift-card h2{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.gift-card h3{
    text-align: center;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.link-gift{
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #06c;
}

.contenedor1,
.contenedor2,
.contenedor3{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    margin:unset;
}
.smallboxes{
    float: left;
    height: 624px;
    background-color: blue;
    flex-grow: 1;
    margin: 15px 15px;
    min-width: 350px;
    flex-basis: 0%;
}
.caja-iphone{
    float: left;
    background-image: url(./frenteIphone.jpeg);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #fbfbfd;
}
.smallboxesc.caja-iphone p{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 56px;
    font-style: normal;
}
.smallboxes.caja-iphone h1{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 35px;
    font-style: normal;
}



.caja-macbook{
    color: #fbfbfd;
    float: left;
    background-image: url(./semiMACBOOK.jpeg);
    background-size: cover;
    background-position: center;
}

.link-caja{
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    color: #06c;
}